DBMS architecture notes.pdf
ER extended features.pdf
ER Model notes.pdf
er to relational model notes.pdf
Relation model notes.pdf
acid properties and transactions notes.pdf
atomicity and durability notes.pdf
normalisation notes.pdf
types of DB notes.pdf
indexing notes.pdf
NoSQL DB and difference notes.pdf
